@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@800&family=Playfair+Display:wght@800&display=swap");

@import "tailwindcss";
@theme {
    --font-anton: "Anton", sans-serif;
    --font-cinzel: "Cinzel", serif;
    --font-playfair: "Playfair Display", serif;
}
