@import url("https://fonts.googleapis.com/css2?family=Anton@800@300&family=Cinzel:wght@800@300&family=Playfair+Display:wght@800@300&display=swap");

@import "tailwindcss";

@theme {
    --font-anton: "Anton", sans-serif;
    --font-cinzel: "Cinzel", serif;
    --font-playfair: "Playfair Display", serif;
}
